/* Đảm bảo phần body được thiết lập cơ bản */
body {

}

/* Khung */
.footer {
  background-color:  #ff8800;
  color: white;
  border: none;
  padding: 15px;
  text-align: center;
  }
  .khung {
            background-color: #2b2b2b; /* Màu nền xám đậm */
            padding: 30px;     
            color: white;/* Khoảng cách giữa nội dung và khung */
                          /* Khoảng cách giữa khung và lề trang */
            border: 5px solid #333333; /* Viền xám đậm */
            border-radius: 10px;  
            border-bottom: 3px solid red;/* Bo tròn các góc viền */
        }
