/* Đảm bảo không có lỗi cú pháp trong body */
body {
 
/* Khung */
.khung {
  background-color: #2b2b2b; /* Màu nền xám đậm */
  padding: 30px;
  color: white;
  border: 5px solid #333333; /* Viền xám đậm */
  border-radius: 10px; /* Bo tròn các góc viền */
  border-bottom: 3px solid red; /* Viền dưới màu đỏ */
}

/* Footer */
.footer {
  background-color: #ff8800;
  color: white;
  border: none;
  padding: 15px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}
