body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Header */
header {
  width: 100%;
}

/* Khung */
.khung {
  background-color: #2b2b2b; /* Màu nền xám đậm */
  padding: 30px;
  color: white;
  border: 5px solid #333333; /* Viền xám đậm */
  border-radius: 10px;
  border-bottom: 3px solid red; /* Viền dưới màu đỏ */
}

/* Footer */
.footer {
  background-color: #ff8800;
  color: white;
  border: none;
  padding: 15px;
  text-align: center;
}
